# ============================================================
# Exemple de fichier de secrets Ansible Vault
#  NE PAS VERSIONNER CE FICHIER AVEC LES VRAIES VALEURS
# ============================================================

ansible_become_password: "MDP"
zabbix_db_password: "MDP"
wazuh_agent_key: "CleWazuhIci"
ssl_cert_passphrase: "PassphraseSSL!"